@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
  --desaturated-red: #ce9898;
  --soft-red: #f96464;
  --white: #fff;
  --black: #000;
}

*,
*::before,
*::after {
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

body {
  background-color: var(--white);
  font-family: 'Josefin Sans', sans-serif;
  align-items: center;
  margin: 0 auto;
  position: relative;
  max-width: 1568px;
  min-width: 375;
}

@media screen and (min-width: 1568px) {
  body {
    box-shadow: 0px 34px 40px 12px rgba(0, 0, 0, 0.2);
  }
}

h1 {
  margin: 0;
  color: var(--dark-gray);
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1rem;
}

p {
  font-size: 16px;
}

.container {
  background: url(./images/bg-pattern-desktop.svg) left top / auto 100%
    no-repeat;
  min-width: 375px;
  max-width: 100%;
  display: grid;
}

.logo {
  margin: 2rem 0 2rem 2rem;
}

.logo img {
  height: 2rem;
  width: auto;
}

.hero picture img {
  width: 100%;
}

.main {
  margin: 0 3rem;
}

.text_block {
  margin: 3rem 0;
  text-align: center;
}


.text_block__title h1 {
  font-weight: 300;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.1;
}

.text_block__title span.highlight {
  color: var(--desaturated-red);
  font-weight: 300;
}

p.text {
  color: var(--desaturated-red);
  line-height: 1.5rem;
  font-weight: 400;
  font-size: 1rem;
}

.email_wrapper {
  background-color: var(--white);
  border: 1px solid var(--desaturated-red);
  border-radius: 50px;
  height: 3rem;
  position: relative;
}

.email_wrapper.invalid {
  border: 2px solid var(--soft-red);
}

#email_block {
  border: none;
  margin-left: 1rem;
  margin-top: 0.5rem;
  width: 90%;
  height: 2rem;
}

#email_block::placeholder {
  color: var(--desaturated-red);
  font-weight: 300;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}

#email_block:focus {
  outline: none;
}

.button {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  width: 4rem;
  height: 3rem;
  border-radius: 50px;
  transform: translate(2px, -1px);
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

.button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.invalid_icon {
  position: absolute;
  top: 0.6rem;
  right: 4.5rem;
}

.invalid_icon.hidden {
  visibility: hidden;
}

.invalid_icon.invalid {
  visibility: visible;
}

.msg {
  font-weight: 600;
  margin-left: 4rem;
  margin-top: 0;
  position: relative;
}

p.msg_valid {
  color: var(--dark-gray);
  visibility: visible;
  position: absolute;
}

p.msg_valid.hidden {
  visibility: hidden;
}

p.msg_invalid {
  color: var(--soft-red);
  visibility: visible;
  position: absolute;
}

p.msg_invalid.hidden {
  visibility: hidden;
}

.attribution {
  visibility: visible;
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 1024px) {
  .container {
    grid-template-columns: 1.3fr 1fr;
    grid-template-rows: auto 100%;
  }

  .logo {
    margin: 5rem 0 2rem 7rem;
  }
  .hero {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    height: auto;
  }

  .main {
    margin: 1rem 8rem 0 7rem;
  }
  .text_block {
    text-align: left;
  }

  .text_block__title h1 {
    font-size: 4rem;
  }
}